<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="XToniq" value="https://pkgs.dev.azure.com/xtoniq/_packaging/Qcentris/nuget/v3/index.json" />
    <add key="SCE" value="https://pkgs.dev.azure.com/xtoniq/SCE/_packaging/SCE/nuget/v3/index.json" />
  </packageSources>
</configuration>